obj/project-B-DataWizards.csproj.nuget.dgspec.json
obj/project-B-DataWizards.csproj.nuget.dgspec.json
obj/project-B-DataWizards.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/project-B-DataWizards.AssemblyInfoInputs.cache
